.authorization-form {
    display: none;
    position: absolute;
    top: 774px;
    left: calc(50% - 245px);
    z-index: 10;
    width: 490px;
    padding-top: 60px;
    padding-bottom: 55px;
    border-radius: 6px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;;

    &__wrapper {
        position: relative;
        width: 370px;
        margin: 0 auto;
    }

    &__closebtn {
        position: absolute;
        top: -135px;
        left: 395px;
        width: 14px;
        height: 14px;
        background-image: url("../../img/close.png");
        background-color: transparent;
        font-size: 0;
        border: none;
    }


    legend {
        font-size: 40px;
        line-height: 53px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 35px;
    }

    fieldset {
        border: none;
    }

    label {
        display: block;
        font-size: 18px;
        line-height: 24px;
        color: #474351;
        margin-bottom: 10px;
    }

    input {
        display: block;
        width: 100%;
        padding-top: 17px;
        padding-bottom: 17px;
        padding-left: 12px;
        padding-right: 16px;
     
        &::placeholder {
            font-size: 16px;
            line-height: 16px;
        }

        &[type="email"] {
            margin-bottom: 18px;
        }

        &[type="text"] {
            margin-bottom: 34px;
        }
    }

    input[type="submit"] {
        font-size: 18px;
        line-height: 18px;  
        background-color: #F25B24;
        color: #ffffff;
        text-align: center;
        border-radius: 4px;
        border: none;
    }
}