.features {
  margin-bottom: 96px;
  padding-top: 130px;

  &__title {
    max-width: 850px;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 40px;
    line-height: 53px;
    color: #2e2d35;
  }
}
