.features {
    padding-top: 130px;
    margin-bottom: 96px;

    &__title {
        font-size: 40px;
        line-height: 53px;
        font-weight: 600;
        color: #2E2D35;
        margin-bottom: 50px;
        max-width: 850px;
    }
}