.registration {

  &__wrapper {
    position: relative;
    width: 1170px;
    margin: 0 auto;
    padding: 70px 0;
    padding-left: 70px;
    background: linear-gradient(90deg, #2d1686 0%, #4e33b5 100%);
    border-radius: 10px;
  }

  &__title {
    width: 557px;
    margin-bottom: 46px;
    font-weight: 600;
    font-size: 34px;
    line-height: 45px;
    color: #ffffff;
  }

  &__img {
    position: absolute;
    top: 20px;
    left: 500px;
  }
}
